[Unit]
Description=Qubes DB agent
After=xenstored.service qubes-db.socket
Requires=xenstored.service
BindsTo=qubes-db.socket

[Service]
ExecStart=/usr/sbin/qubesdb-daemon
Type=notify

DynamicUser=yes
CapabilityBoundingSet=
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
IPAddressDeny=any
PrivateDevices=yes
PrivateNetwork=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
SystemCallFilter=~@clock @debug @module @mount @raw @reboot @swap @privileged @resources @cpu-emulation @obsolete
SystemCallErrorNumber=EPERM
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
UMask=077

[Install]
WantedBy=sysinit.target
