[Unit]
Description=Qubes DB agent
After=xenstored.service
Requires=xenstored.service

[Service]
# Both agent and daemon for dom0
ExecStart=/usr/sbin/qubesdb-daemon 0 dom0
Type=notify

[Install]
WantedBy=multi-user.target
