[Unit]
Description=Qubes DB agent
After=xenstored.service
Requires=xenstored.service

[Service]
ExecStart=/usr/sbin/qubesdb-daemon
Type=notify

[Install]
WantedBy=sysinit.target
