[Unit]
Description=Qubes DB agent
After=xenstored.service
Requires=xenstored.service

[Service]
# Remote Dom ID as an argument
ExecStart=/usr/sbin/qubesdb-daemon 0
Type=notify

[Install]
WantedBy=sysinit.target
